<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% stylesheet main %}
    <link rel="humans" type="text/plain" href="{{ "/humans.txt" }}">
    <link rel="hackers" type="text/plain" href="{{ "/hackers.txt" }}">

    <!--
    <link rel="shortcut icon" href="{{ "images/favicon.ico" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ "images/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ "images/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ "images/apple-touch-icon-114x72.png" | prepend: site.baseurl }}">
    -->

</head>
