{% extends "base.html" %}
{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name"><a href="#" itemprop="url">{{ article.title }}</a></h1>
        <time itemprop="datePublished" datetime="{{ article.date.isoformat() }}" content="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        <time itemprop="datePublished" datetime="2013-09-04T12:00:00+02:00" content="2013-09-04T12:00:00+02:00">
            September 2013
        </time>
    </header>
    <section itemprop="articleBody">
    {{ article.content }}
    </section>
</article>
{% endblock %}
