<!-- Header -->
<hgroup>
    <h5 class="remove-bottom">Mark Feltner</h5>
</hgroup>
<nav>
    <ul>
        <li><a href="/">blog</a></li>
        <!--
        <li><a href="#"></a></li>
        -->
    </ul>
</nav>

